# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# VS Code specific
.vscode/

# Pytest cache
.pytest_cache/

# Migrations
*/migrations/*.py
!*/migrations/__init__.py

# Static files
staticfiles/
static/

# Media files
media/

# IDE specific
.idea/
*.swp
*.swo